.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-navbar 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes show-navbar {
    100%{
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

.navbar ul li:hover a,
.navbar ul li .active a {
    color: #7cf03d;
}